<div class='grid-container wrapper'>
  <div class='devise-bg callout'>
    <h2 class='devise-style'>Sign Up For An Account!</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: 'devise-style' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise-form' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'devise-style' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'devise-new-password devise-form' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'devise-style' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'devise-form' %>
      </div>

      <div class="field">
        <%= f.label :username, class: 'devise-style' %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'devise-form' %>
      </div>

      <div class="field">
        <%= f.label :first_name, class: 'devise-style' %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'devise-form' %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: 'devise-style' %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'devise-form' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'button' %>
      </div>
    <% end %>
  </div>
</div>
