<div class='grid-container wrapper'>
  <div class='devise-bg callout'>
    <h2 class='devise-style'>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'devise-style' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'devise-form' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'devise-style' %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'devise-form' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field devise-style">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'devise-style' %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'button' %>
      </div>
    <% end %>
    <div class='devise-flex'>
      <%= render "devise/shared/links", class: 'devise-links' %>
    </div>
  </div>
</div>
