<!DOCTYPE html>
<html>
<head>
  <title>NE Campground Reviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,900;1,200;1,300;1,400;1,600;1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e961c52d73.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/logo.png">
      </a>
      <a class="navbar-item logo-name" href="/">
        <img src="/images/logo-name.png">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

    </div>

    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless">
            Menu
          </a>
          <div class="navbar-dropdown">
            <%= link_to 'About Us', aboutus_url, class: 'navbar-item' %>
            <%= link_to 'Our Camper', camper_url, class: 'navbar-item' %>
            <a class="navbar-item" href="mailto:maddoxgrey42@gmail.com">
              Contact
            </a>
          </div>
        </div>
        <%- if current_user -%>
            <%= link_to 'Profile', user_path(current_user), class: 'navbar-item' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
          <%- else -%>
            <%= link_to 'Sign In', new_user_session_path, class: 'navbar-item' %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-item' %>
          <%- end -%>

      </div>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
      <br/>
    </div>
  <%- end -%>

  <%= yield %>

  <footer class="has-text-centered footer">
    <h3>&copy; NE Campground Reviews</h3>
  </footer>
  
  <%= javascript_include_tag 'application' %> 
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
   
</body>
</html>
