<!DOCTYPE html>
<html>
<head>
  <title>CampgroundReviews</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,900;1,200;1,300;1,400;1,600;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <div class='content'>
    <div class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <img class="logo" src='/images/logo.png'>
        <div class="menu-title"><a href="/">NE Campground Reviews</a></div>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu menu-hover">
            <a class="header-nav-buttons" href="#0">Menu</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#0">One</a></li>
              <li><a href="#0">Two</a></li>
              <li><a href="#0">Three</a></li>
            </ul>
          </li>
          <%- if current_user -%>
            <li><%= link_to 'Profile', user_path(current_user), class: 'header-nav-buttons' %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'header-nav-buttons' %></li>
          <%- else -%>
            <li><%= link_to 'Sign In', new_user_session_path, class: 'header-nav-buttons' %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: 'header-nav-buttons' %></li>
          <%- end -%>
        </ul>
      </div>
    </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

    </div>
    <div class="footer">
      <h3>&copy; NE Campground Reviews</h3>
    </div>

  <%= javascript_include_tag 'application' %>
  <%# <%= javascript_include_tag 'application', 'lightbox' %> 
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
  
</body>
</html>
